<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Categories</title>
  <nav>
    <li>
      <a href="{% url 'home' %}">Receipts</a>
      <a href="{% url 'category_list' %}">Categories</a>
      <a href="{% url 'account_list' %}">Accounts</a>
    </li>
  </nav>
</head>
<body>
  <main>
    <h1>Expense Categories</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Number of receipts</th>
      </thead>
      {% for item in expense_category %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.receipts.all.count }}</td>
        </tr>
      {% endfor %}
    </table>
  </main>
</body>
</html>
