<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>
  <nav>
    <li>
      <a href="{% url 'home' %}">Receipts</a>
      <a href="{% url 'category_list' %}">Categories</a>
      <a href="{% url 'account_list' %}">Accounts</a>
    </li>
  </nav>
</head>
<body>
  <main>
    <div>
      <h1>Create Account</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </div>
  </main>
</body>
</html>
