<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Receipts</title>
  <nav>
    <li>
      <a href="{% url 'home' %}">Receipts</a>
      <a href="{% url 'category_list' %}">Categories</a>
      <a href="{% url 'account_list' %}">Accounts</a>
    </li>
  </nav>
</head>
<body>
  <main>
    <h1>My Receipts</h1>
    <table>
      <thead>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </thead>
      {% for item in receipts %}
        <tr>
          <td>{{ item.vendor }}</td>
          <td>{{ item.total }}</td>
          <td>{{ item.tax }}</td>
          <td>{{ item.date|date:"m/j/y" }}</td>
          <td>{{ item.category.name }}</td>
          <td>{{ item.account.name }}</td>
        </tr>
      {% endfor %}
    </table>
  </main>
</body>
</html>
